extends layout

block content
  h1= title
  - let employee=[{employee_Name:"Richards Brooke",employee age:"20",employee salary:"1000"},{employee_Name:"James Bond",employee age:"25",employee salary:"2000"},{employee_Name:"Edward Collen",employee age:"30",employee salary:"3000"}]