extends layout

block content
  h1= title
  - let universities=[{University_Name:"Northwest Missouri State University",University_Location:"Maryville",Number_of_Courses_Offered:"265"},{University_Name:"Wright State University",University_Location:"Ohio",Number_of_Courses_Offered:"315"},{University_Name:"Uniniversit of central missouri",University_Location:"Warrensburg",Number_of_Courses_Offered:"250"}]
    
    div(class="container-fluid mt-3")
    div(class="row")
        each employee,index in employee
            div(class="col-sm-2 bg-warning m-1 p-3" style="color:maroon; background-color:ivory;" ) #{employee.employee_Name} - #{employee.employee_age} - #{employee.employee_salary}
