extends layout

block content
  h1= title
  - let employee=[{employee_Name:"Richards Brooke",employee_age:"20",employee_salary:"1000"},{employee_Name:"James Bond",employee_age:"25",employee_salary:"2000"},{employee_Name:"Edward Collen",employee_age:"30",employee_salary:"3000"}]